v1.1.1(2nd August 2021)

<pre>

Bug fixed       : rtl design issue fixed.
                : Missing Language Added to Translation file
                : Super admin edit issue fixed

Update          : Translate calender, date
                : rtl support for calendar
                : Js Language Translation

</pre>

v1.1.0(13th July 2021)

<pre>

Feature 		: Redesign Delete Confirmation Dialog
				: Add Missing Quick Add Buttons
				: Prevent missing delete relational data.
				: Add Missing Language keywords for translation
				: Re-Arrange Permissions.

</pre>

v1.0.9(10th July 2021)

<pre>

Bug Fixed 		: Prevent delete relational data.

</pre>

v1.0.8(8th July 2021)

<pre>

Bug Fixed 		: Staff edit confirm password required issue fixed.
				: Judgement date add on case creation did not saved on database issue fixed.
				: Add Lawyer permission issue fixed.
				: Show date time based on Timezone.

Feature 		: Add Date time for date input fields
				: Cause list case search with date range.
				: Can integrate Finance, Client Login, Custom Fields, Email to lawyer and court Modules


</pre>

v1.0.7(28th June 2021)

<pre>

Bug Fixed 		: Contact Update jQuery fixed.
				: Task Update jQuery Error Fixed
				: Appointment Update jQuery Error Fixed
				: DataTable Export Pdf error fixed.
				: Send Contact a email on set Appointment.
				: Court Edit server error fixed
				: Dashboard quick widget menu link fixed.
				: Client Category Issue fixed.

Feature 		: Redesign Default Email Templates
				: Quick add button for client, customer, case stage, act, lawyer, client category, contact category, case category, court, court category.
				: Add Case Charge on Create New case.


</pre>

v1.0.6(14th June 2021)

<pre>

Bug Fixed 		: Language translation "'" error fixed.
				: Translation missing keyword added.

Feature 		: Included Arabic Translation file

</pre>

v1.0.5(10th June 2021)

<pre>

Bug Fixed 		: Reopen case did not appear on all cases fixed.

Feature			: Add/Update Casewise Advocate Modules.
				: Add Multiple Lawyers on case
				: Filter Case By Case Category, Case no, Case File no, Case Acts, Clients, Court, Case Stages, Case Receiving Date, Case Filling Date, Hearing Date, Judgment Date
				: Send Custom Notification For Upcoming Dates.
				: Automatic sending email managed by email template status.


</pre>

v1.0.4(3rd June 2021)

<pre>

Bug Fixed 		: Can't create 2nd user issue fixed
</pre>

v1.0.3 (24 May 2021)

<pre>

Bug Fixed 		: Language Translation Error Fixed

Feature 		: Clear Log files, Cache and enable or disable app debug mode from Utilities menu
				: Validation error massage custom translation
				: Country, State, City Add, Edit and Delete
				: Staff password change by Super admin
				: Staff Phone number is not required now
</pre>

v1.0.2 (05 April 2021)

<pre>
Bug fixed       : Foreign key violation error fixed
				: Language Missing key added
				: Responsive issue solved
				: Case Description not updated fixed
				: Case Acts not selected on case update page fixed

Feature 		: Court Load based on court category
				: Add multiple files on case, date, putlist, judgment, case close, case re-open
				: Edit and Delete Files
</pre>
